*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.75em;
    margin: 20px;
}

.container {
    margin: 40px 20px;
}

.container section {
    width: calc(33.33% - 20px);
    background-color: #888;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    float: left;
    margin: 10px;

}

section > .section-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    background-color: #c59da3;
    border: 1px solid black;
}

section > .section-title > h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25em;
}

section > .two {
    background-color: #a14b4b;
}

section > .three {
    background-color: #dddd95;
}

section > p {
    margin-top: 10px;
}


/* ----------Responsive Solution---------- */

@media (max-width: 991px) {

    section.one, 
    section.two{
        width: calc(50% - 20px);
        min-height: 200px;
    }

    section.three {
        width: calc(100% - 20px);
        min-height: 200px;
    
    }
}

@media (max-width: 767px) {

    section.one,
    section.two,
    section.three {
            width: calc(100% - 20px);
            min-height: 200px;
    }
}